@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font: 'Inter', sans-serif;

$dark-1: #111111;
$dark-2: #555555;
$dark-3: #777777;
$dark-4: #999999;
$light-1: #FFFFFF;
$light-1: #EEEEEE;
$light-1: #CCCCCC;
$light-green: #EDFFF6;
$light-orange: #FFF0E8;
$orange: #FF8139;
$pink: #FF3998;
$green: #39FFA0;
$red: #FF3939;
$background: white;

body {
    font-family: $font;
    font-weight: 400;
    line-height: 150%;
    font-size: 20px;
    color: $dark-2;
    padding: 4rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
}

figure.logotype {
    margin: 0;
    padding: 0;
    max-height: 100%;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

a {
    font-size: 20px;
    color: $dark-2;
    text-decoration: none;
    margin-left: 1.5rem;
}

a:nth-last-child(1) {
    color: $pink;
}

main {
    margin-top: 2rem;
}

.hero-wrapper {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 45rem 45rem;
}

.box {
    width: 100%;
    color: $dark-1;

}

.a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1;
}

.a span {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $pink;
}

.a h1 {
    font-weight: 900;
    font-size: 96px;
    line-height: 116px;
    margin: 0px;
}

.a p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: $dark-2;
    margin: 0px;
}

.b {
    display: flex;
    grid-column: 2;
    grid-row: 1;
}


.b img {
    width: 100%;
}



.gradient-border-bt {
    grid-column: 1;
    grid-row: 4/5;
    height: auto;
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(45deg, $pink, $red, $orange, $green) border-box;
    border: 5px solid transparent;
    width: 25%;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: 600;
    color: $dark-1;
}




section.upsell {
    width: 428px;
    height: 326px;
    border: 1px solid black;
}

section.press {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    align-content: center;
    justify-items: center;
    width: 364px;
    height: 117px;
    border: 1px solid black;
}

section.showcasse {
    width: 1280px;
    height: 642px;
    border: 1px solid black;
}

article.footer-upsell {
    width: 683px;
    height: 630px;
    border: 1px solid black;

}

footer {
    display: flex;
    width: 428px;
    height: 632px;
    border: 1px solid black;
}